#  See docs for setup instructions
#  This yaml file will be used for both fEVR and mqtt_client

broker:
  host: mqtt
  port: 1883
  user: ~
  password: ~
  topics: frigate/+
  apikey: value

fevr:
  url: http://localhost:5090

notifications:
  enabled: true
  cooldown: 30
  service: "ntfy"
  server: "https://ntfy.fevr.video"
  topic: CHANGE_TO_YOUR_TOPIC

verbose: true