requests~=2.28.1
Pillow~=9.2.0
paho-mqtt~=1.6.1
Flask~=2.2.2
flasK_sqlalchemy~=2.5.1
python-dotenv~=0.21.1
flask-login~=0.6.2
IPy
svgwrite
python-dateutil
pytz
uwsgi
netifaces
PyYAML
rtspscanner~=0.1.3