body{
    background-color: rgb(168, 185, 202);
    margin: 0.5em;
    overflow: hidden;
    margin-bottom: 3em;
}
body::-webkit-scrollbar {
    width:0em;
}

a{
    text-decoration: none;
    color: rgb(49, 55, 66);
}
a:hover{
    filter: drop-shadow(0 0 0.03em rgb(49, 55, 66));
    color:rgb(21, 31, 90);
}
.title:hover{
    cursor: pointer;
}
.container{
    background-color:rgb(216, 216, 216);
    color: rgba(0, 0, 80);
    border: 2em solid rgba(0, 0, 200, 0.5);
    border-width: 2.5em 0.1em 0.1em 0.1em;
    border-radius: 0.5em;
    padding: 0 0.5em 0.5em 0;
    height: 100%;
    margin-bottom: 5em;
}
.titleBar{
    position: relative;
    height: 29px;
    width: auto;
    opacity: 100%;  
    margin-left: 1.5em;
    margin-bottom: -1.4em;
    padding: 0px;
    font-size: 1.5em;
    color: rgb(0, 0, 80);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    overflow: hidden;
}

.subtitle{
    font-weight: normal;
    color: rgb(0,0,110);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.8em;
    padding-left: 5px;
}

.menu{
    position: relative;
    top: 0.15em;
    height: 1em;
    width: auto;
    aspect-ratio: 1;
}
.menu:hover{
    cursor:pointer;
    color: rgb(112, 80, 112);
}
.menuBorder{
    border-width: 0em 0.1em 0.1em 0.1em;
    border-radius: 0 0em 0.5em 0em;
    box-shadow: 0.2em 0.2em 0.75em rgba(49, 55, 66, 0.4);;
    /* : drop-shadow(0.25em 0.25em 0.25em rgba(0,0,200,0.8)); */
}
.menuContainer{
    position:absolute;
    z-index:100;
    left:0.5em;
    top:2.25em;
    margin-top: 0.5em;
    background: rgba(150, 150, 200, 0.4);
    max-width: 15em;
    max-height:50%;
    width: 0;
    height: auto;
    overflow: hidden;
    transition: width 900ms ease, height 500ms ease;
    margin-left: 0em;
    backdrop-filter: blur(3px) contrast(0.5);
}
.menuSeperator{
    height: 0.75em;
}
.menuItem{
    display: flex;
    flex-flow: row;
    justify-content:start;
    width: 8em;
    height: auto;
    margin: 0.25em 1em;
    border-width: 0 0 0.1em 0;
    color: rgb(0, 0, 80);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.25em
}
.menuItem:hover{
    cursor: pointer;
}
.content{
    position: relative;
    top:0;
    left:0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex;
    color: rgb(0, 0, 80);
    height: 100%;
    width: 100%;
}
.contentFrame{
    width: 100%;
    height: 100%;
    border: 0;
}
.hidden{
    display: none;
}
.fevrIcon{
    height: 1em;
    width: auto;
    padding-left: 10px;
}
@media screen and (max-width: 600px) {
    .subtitle{
        font-size: 0.75em;
    }
}
@media screen and (max-width: 400px){
    #subtitle{
        font-size: 0.65em;
    }
}