body{
    min-width: 375px;
}
body::-webkit-scrollbar {
    width:0;
}
a{
    color: rgb(230, 230, 230);
    font-size: 0.85em
}
a:hover{
    filter: drop-shadow(0 0 0.03em rgb(49, 55, 66));
    color: rgb(200, 200, 200);
}
.danger a{
    color: rgb(255, 125, 125);
}
.danger a:hover{
    color: rgb(150, 75, 75);
}
.codeBlock{
    font-size: 1em;
    font-family: courier;
    font-weight: normal;
    width: 25%;
    overflow-x:auto;
}
.eventsContainer{
    display: none;
    flex-flow:row wrap;
    justify-content:flex-start space-evenly;
    align-items:flex-start;
    overflow:hidden;
    overflow-wrap: break-word;
    width: 100%;
}
.event{
    padding: 20px;
}
.eventTitle{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}
.eventText{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.15em;
}
.newevent{
    color:rgb(199, 47, 47)
}

.eventHeader{
    display: flex;
    flex-flow:row wrap;
    justify-content:flex-start space-evenly;
    align-items:flex-start;
    overflow:hidden;
    overflow-wrap: break-word;
    width: 100%;
    padding-right: 20px;
}
.eventThumb{
    display: flex;
    padding-right: 20px 
}
.view{
    margin: auto;
    padding-top: 20px;
}
.clip{

    width: 90%;
    max-width: 720px;
    margin: auto;
}
.snap{
    width: 90%;
    max-width: 720px;
}
.live{
    width: 640px;
    height: 360px;
    border: 0;
}
.popout{
    height: 1em;
    width: auto;
}
.eventDetails{
    display: flex;
    flex-flow:row wrap;
    justify-content:flex-start space-evenly;
    align-items:flex-start;
    overflow:hidden;
    overflow-wrap: break-word;
    width: 100%;
    margin-bottom: 1em;
}
.eventDetailsItem{
    padding-right: 1.5em;
}
.eventDetailsItem img {
    height: 1em;
    width: auto;
    padding-right: 0.5em;
}
.popout{
    padding-left: 0.5em;
}
.dialog{
    border-color: rgb(137, 143, 145);
    border-radius: 1em;
    margin: auto;
    width: 95vw;
    vertical-align: middle;
}
.dialog::backdrop{
    background: none;
}
#titlebar{
    border: 0 solid darkblue;
    height: 2em;
}
.logo{
    height: 2em;
}
.title{
    font-size: 1.25em;
    font-weight: bold;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 0.25em;
}
#content{
    margin: 0.5em;
    font-size: 1.15em;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#footer{
    display: flex;
    flex-flow:row;
    justify-content: space-evenly;
    align-items:flex-start;
}
button{
    background: rgb(160,168,170);
    border-radius: 0.25em;
    font-size: 1.25em;
    font-weight: bold;
    padding: 0.1em;
    margin: 0.1em;
}
button.buttonAction{
    background: rgb(160,168,170);
    border-radius: 0.25em;
    font-size: 0.7em;
    width: 40vw;
    height: 2.5em;
}
button.buttonAction:hover{
    cursor: pointer;
    background: rgb(203, 213, 216);
}
button.enabled:hover{
    cursor: pointer;
    background: rgb(203, 213, 216);
}
.disabled{
    opacity: 0.33;
}
.enabled{
    opacity: 1;
}
.hide{
    opacity: 0;
}
.left{
    display: flex;
    width: 45%;
    justify-content: left;
}
.right{
    display: flex;
    width: 45%;
    justify-content: right;
}
.DANGER{
    color: rgb(199, 47, 47);
}
.eventThumb{
    position: relative;
    display: flex;
    padding-right: 20px 
}
.new{
    position: absolute;
    bottom: 0.01em;
    left: 0.01em;
    padding: 0em;
    background: rgba(160, 168, 170, 0.9);
    font-size: 1em;
    font-weight: bold;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(199, 47, 47)
}
.newhidden{
    display: none;
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .new {
      background-color: rgba(244, 244, 250, 0.2);
      -webkit-backdrop-filter: blur(3px) contrast(0.5);
      backdrop-filter: blur(3px) contrast(0.5);
    }
}
@media screen and (max-width: 750px) {
    button.buttonAction{
        background: rgb(160,168,170);
        border-radius: 0.25em;
        font-size: 0.7em;
        min-width: 320px;
        width: 80vw;
        height: 2.5em;
    }
}
@media screen and (max-width: 600px) {
    .eventInfo{
        font-size: 1.25rem;
        padding-top: 20px;
	    padding-left: 0px;
        line-height: 2.25;
    }
    .eventTitle{
        font-size: 1.25em
    }
    .eventsContainer{
        display: flex;
        flex-flow:row wrap;
        justify-content: space-evenly;
        align-items:flex-start;
        overflow:hidden;
        overflow-wrap: break-word;
        width: 100%;
    }
    .eventText{
        padding-top: 0.5em;
        font-size: 1.35em;
        line-height: 1.8;
    }
    a{
        color: rgb(230, 230, 230);
        font-size: 0.9em
    }
    a:hover{
        filter: drop-shadow(0 0 0.03em rgb(49, 55, 66));
        color: rgb(200, 200, 200);
    }
    .danger a{
        color: rgb(255, 125, 125);
    }
    .danger a:hover{
        color: rgb(150, 75, 75);
    }
}