.lds-ripple{
    display: flex;
    flex-flow: row wrap;
    justify-content:flex-start space-evenly;
    align-items:flex-start;
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 16rem;
    aspect-ratio: 1;
    width: auto;
    margin: auto;
}
.lds-ripple p{
    position: relative;
    margin: auto;
    font-size: 3em;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
}
.lds-ripple div {
  position: absolute;
  border: 5px solid rgb(160, 168, 170);
  opacity: 1;
  border-radius: 80%;
  animation: lds-ripple 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -1.25s;
}
.lds-ripple div:nth-child(3) {
  animation-delay: -1s;
}
@keyframes lds-ripple {
0% {
  top: 6rem;
  left: 6rem;
  width: 4rem;
  height: 4rem;
  opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 16rem;
    height: 16rem;
    opacity: 0;
  }
}
.frigateIcon{
    position: relative;
    top: 0.1em;
    left: 0.1em;
    height: 1.5em;
    width: auto;

}
.visible{
    display: flex;
}
#loading{
  display: none;
  opacity: 1;
  -webkit-transition: opacity 1900ms linear;
  transition: opacity 1900ms linear;
}
#container{
  opacity: 0;
  -webkit-transition: opacity 1900ms linear;
  transition: opacity 1900ms linear;
}