body{
    background-color: rgb(51, 51, 56);
    margin: 0.5em;
    overflow: hidden;
    margin-bottom: 3em;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-width: 350px;
}
body::-webkit-scrollbar {
    width:0em;
}

a{
    text-decoration: none;
    color: rgb(49, 55, 66);
}
a:hover{
    filter: drop-shadow(0 0 0.03em rgb(49, 55, 66));
    color:rgb(21, 31, 90);
}
.hidden{
    display: none;
}
.title{
    width: 100%;
    border-bottom: 2px rgb(160,168,170)
}
.subtitle{
    font-size: 1.5em;
    padding-left: 0.5em;
    color:rgb(160, 168, 170)
}
.hamburger{
    position: relative;
    top: 0.15em;
    height: 2em;
    width: auto;
    aspect-ratio: 1;
}
.hamburger:hover{
    cursor: pointer;
}
.fevrIcon{
    height: 2em;
    width: auto;
    padding-left: 10px;
}
.content{
    display:flex;
    justify-content: center;
    height: 100%;
    margin: auto;
}
.contentFrame{
    width: 75%;
    height: 100%;
    overflow: none;
    border: none;
}
.menu{
    position:absolute;
    z-index:100;
    left:0em;
    margin-top: 0.5em;
    background: rgba(160, 168, 170, 0.9);
    max-height:100%;
    width: 0%;
    height: 100%;
    overflow: hidden;
    transition: width 1s ease;
    margin-left: 0em;
    max-width: fit-content;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .menu {
      background-color: rgba(244, 244, 250, 0.2);
      -webkit-backdrop-filter: blur(3px) contrast(0.5);
      backdrop-filter: blur(3px) contrast(0.5);
    }
  }
  
.menu_content{
    width: 100%;
    padding: 1em;
    line-height: 1.5em;
    white-space: nowrap;
    font-size: 1.5em;
}
.themeUIElement{
    fill: rgb(160, 168, 170);
    fill-opacity: 0.7;
}
.menuVisible{
    max-width: 25vw;
}
@media screen and (max-width: 1439px) {
    .menu{
        max-width: fit-content;
        margin-top: 0em;
    }
    .hamburger{
        height: 2em;
    }
    .fevrIcon{
        height: 2em;
    }
    .subtitle{
        font-size: 1.5em;
        padding-left: 0.2em;
    }
    .content{
        display:flex;
        justify-content: center;
        height: 100%;
        margin: auto;
    }
    .contentFrame{
        width: 1200px;
    }
}
@media screen and (max-width: 1115px) {
    .menu{
        max-width: fit-content;
        margin-top: 0em;
    }
    .hamburger{
        height: 1.85em;
    }
    .fevrIcon{
        height: 1.85em;
    }
    .subtitle{
        font-size: 1.45em;
        padding-left: 0.175em;
    }
    .contentFrame{
        width: 800px;
    }
}
@media screen and (max-width: 750px) {
    .menu{
        max-width: fit-content;
        margin-top: 0em;
    }
    .hamburger{
        height: 1.75em;
    }
    .fevrIcon{
        height: 1.75em;
    }
    .subtitle{
        font-size: 1.35em;
        padding-left: 0.15em;
    }
    .contentFrame{
        width: 400px;
    }
}
@media screen and (max-width: 600px) {
    .menu{
        max-width: fit-content;
        margin-top: 0em;
    }
    .hamburger{
        height: 1.5em;
    }
    .fevrIcon{
        height: 1.5em;
    }
    .subtitle{
        font-size: 1.25em;
        padding-left: 0.125em;
    }
    .contentFrame{
        width: 400px;
    }
}
