{% extends "setup.html" %}
    {% block setupContent %}
    <script src="/static/js/setup.js"></script>
    <div class="constraint">
    <div class="login">
        Setup MQTT Client<br/>
        <div class="subtitle">
            Provide the following parameters to setup fEVR's MQTT Client.  This is required to listen for Frigate's generated events.<br/>
            <br/>
            You need to generate an API Key in order for the mqtt client to function.<br/>
            <a href="/profile" target="_blank">Click here to generate or view your API Keys.</a><br/>
            <br/>
            MQTT Topics is comma separated ex: frigate/+,frigate2/+,frigate3/+<br/>
        </div>
        <div>
            <form method="POST" action="/setup/mqtt/add" class="">
                <input type="text" name="broker" placeholder="MQTT Broker IP/URL **REQUIRED**">
                <input type="text" name="port" placeholder="MQTT Broker Port (defaults to 1883)">
                <input type="text" name="brokerU" placeholder="Broker Username (defaults to '')">
                <input type="text" name="brokerP" placeholder="Broker Password (defaults to '')">
                <input type="text" name="topics" placeholder="MQTT Topics (defaults to 'frigate/+') comma separated values">
                <input type="text" name="key" placeholder="API Key **REQUIRED** SEE NOTES ABOVE">
                <input type="text" name="https" placeholder="http:// or https://">
                <input type="text" id="fevrfqdn" name="fevr" placeholder="fEVR url">
                <input type="text" id="fevrport" name="fevrport" placeholder="Port Number">
                <button>Add</button>
            </form>
        </div>
    {% if user.group == "admin" %}
    <br/>
    <br/>
    <div class="title">Current MQTT Client Command:</div>
    <br/>
    <br/>
    {{ "No command configured" if not command }}<br/>
    {% if mqtt %}

    <div>
        Current mqtt_client command:<br/>
        <br/>
        <div class="mqtt_client">{{ command }}</div>
    </div>
    {% endif %}
    <br/>
    <br/>
</div>
</div>
    {% endif %}
    {% endblock %}