{% extends "setup.html" %}
    {% block setupContent %}
    <div class="constraint">
    <div class="login">
        Setup MQTT Client<br/>
        <div class="subtitle">
            Provide the following parameters to setup fEVR's MQTT Client.  This is required to listen for Frigate's generated events.<br/>
            <br/>
            You need to generate an API Key in order for the mqtt client to function.<br/>
            <a href="/profile" target="_blank">Click here</a> to generate or view your API Keys.<br/>
            <br/>
            MQTT Topics is comma separated ex: frigate/+,frigate2/+,frigate3/+<br/>
        </div>
        <div>
            <form method="POST" action="/setup/mqtt/add" class="">
                <input type="text" name="broker" placeholder="MQTT Broker IP/URL">
                <input type="text" name="port" placeholder="MQTT Broker Port">
                <input type="text" name="brokerU" placeholder="Broker Username (enter none for no username)">
                <input type="text" name="brokerP" placeholder="Broker Password (enter none for no password)">
                <input type="text" name="topics" placeholder="MQTT Topics (frigate/event,frigate/available)">
                <input type="text" name="key" placeholder="API Key">
                fEVR URL: <span id="https"></span>://<span id="fevr"></span><br/>
                <input type="hidden" name="https" placeholder="fEVR https: true or blank">
                <input type="hidden" name="fevr" placeholder="fEVR url: ">

                <button>Add</button>
            </form>
            <script>
                URL = window.location.href.split(":");
                if (URL[0]){
                    https = URL[0]
                }
                fevr = URL[1].split('/')[2]
                if (URL[2]){
                    fevr += URL[2]
                }
                document.querySelector("input[name='https']").value = https;
                document.querySelector("#https").innerHTML = https
                document.querySelector("input[name='fevr']").value = fevr;
                document.querySelector("#fevr").innerHTML = fevr
            </script>
        </div>
    {% if user.group == "admin" %}
    <br/>
    <br/>
    <div class="title">Current MQTT Client Command:</div>
    <br/>
    <br/>
    {{ "No command configured" if not command }}<br/>
    {% if mqtt %}

    <div>
        Current mqtt_client command:<br/>
        <br/>
        <div class="mqtt_client">mqtt_client -p {{mqtt.port}} -t {{mqtt.topics}} -u "{{mqtt.user}}" -P "{{mqtt.password}}" -f {{mqtt.fevr}} {{"-s" if mqtt.https == "https"}} {{mqtt.broker}} {{mqtt.key if mqtt.key else '<NO KEY>'}}</div>
    </div>
    {% endif %}
    <br/>
    <br/>
</div>
</div>
    {% endif %}
    {% endblock %}