{% extends "setup.html" %}
    {% block setupContent %}
    <div class="contraint">
    <div class="login">
        View/Edit/Add Cameras<br/>
        <div>
            <form method="POST" action="/setup/cameras/add">
                <input type="text" name="camera" placeholder="Camera Name">
                <input type="text" name="hls" placeholder="http(s)://url:port/camera">
                <input type="text" name="rtsp" placeholder="rtsp://user:pass@url:port">
                <input type="checkbox" id="show" name="show" checked>
                <label for="show"> Show Camera in Main View</label>
                <button>Add Camera</button>
            </form>
        </div>
    {% if user.group == "admin" %}
    <div class="title">Active Cameras</div>
    {% for camera in Cameras %}

    <div>
        <form method="POST" action="/setup/cameras/edit/{{ camera.camera }}">
            <span class="label">Name:</span><input type="text" name="camera" value="{{ camera.camera }}"> 
            <span class="label">HLS:</span><input type="text" name="hls" value="{{ camera.hls }}">
            <span class="label">RTSP:</span><input type="text" name="rtsp" value="{{ camera.rtsp }}">
            <div class="show">
                <input type="checkbox" id="show" name="show" {{ 'checked' if camera.show else '' }}>
                <label for="show"> Show Camera in Main View</label>
            </div>
            <button class='editButton'>Edit</button>
        </form>
        <form method="POST" action="/setup/cameras/del/{{camera.camera}}">
            <button class='delButton'>Delete</button>
        </form>
    </div>
    {% endfor %}
</div>
</div>
    {% endif %}
    {% endblock %}